body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
}

.NavBar {
  align-items: center;
  background: gray;
  display: flex;
  justify-content: space-between;
}

.Auth {
  background: lightblue;
  display: flex;
  flex-direction: column;
}

.Routines {
  background: burlywood;
  display: flex;
}

.RoutinesSideBar {
  background: gold;
  display: flex;
  flex-direction: column;
}